@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;0,600;1,300&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* other page backgrounds */
body{
    background-image: linear-gradient(90deg, #fff, #30D2F5);
}
/* Home page background */
#home{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(../images/houses1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}
#rentables{
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(../images/house2.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
}

.search-box{
    max-width: 588px;
    width: 100%;
    height: 44px;
    border-radius: 50px;
    font-size: 24px;
}

/* Navbar  */
#navbar{
    background-color: rgba(0, 0, 0, 0.250);
}
/* Button Styles */
.signup, .browse{
    border: none;
    border-radius: 50px;
    background-color: #2aa9d0;
}

.signup:hover, .browse:hover{
    background-color: #3bd0fee3;
}

/* Landing Page Slogan Message */
.slogan h1,.slogan h3, .navbar-brand{
    letter-spacing: 0.2rem;
}
.slogan h1:hover {
    text-decoration: underline;
}

/* Slogan Message Hover */
.highlight:hover{
    text-decoration: underline;
}

.find-btn{
    transition: 0.3s ease-in;
    background-color: rgba(255, 255, 255, 0.738);
}
.find-btn:hover {
    background-color: rgb(255, 255, 255);
}

